//
//  Development.xcconfig
//  AnimeX
//
//  Created by Michael Waller on 3/31/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APPLICATION_ID=sKFFgDbHxwnD7MvYphFC1eDjjSN7ieDxQGDrrgOG
APPLICATION_KEY=DynVVl63eqvcF12GMuyIXv7oSC08NPHwqiSkTfCh



